@charset "UTF-8";


header {
	display: flex;
	justify-content: center;
	padding:40px;
}

header div {
	font-weight: bold;
	font-size: 40px;
}

section .question {
	display: flex;
	justify-content: center;
}

section .buttons {
	position:relative;
	bottom:0px;
}

#center {
	display: flex;
	justify-content: center;
}
